{% extends 'KronosUserReportingBundle::layout.html.twig' %}

{% block title %}User Time Report Index{% endblock %}

{% block body %}

        <p class="linklist_horizontal_html">
                <a href="{{ info.previousUrl }}">Previous</a>
                        {{ info.currentWeek }}
                <a href="{{ info.nextUrl }}">Next</a>
        </p>

        <h1 style="text-align:left">User Time Report</h1>
        
        <div id="addNewTable">
            {{ render(controller('KronosUserReportingBundle:User:createLine', { 'inWeek': info.inWeek, 'inYear': info.inYear, 'type': 'partial' })) }}
        </div>

        <form name="kronos_form_line_save" id="kronos_form_line_save" method="post" action="{{ info.url }}">
			
                            
    {% for formsArrayKey, formsArray in forms %}
            
        {% set firstForm = formsArray|first %}

        <h2 style="text-align:left">{{ firstForm['form'].createView().vars.value.getLineType() }}</h2>
        
        <!-- Tables ֠Classing data -->
        <table cellspacing="0" cellpadding="0" class="table table-empty-data" summary="Titre du tableau" id="{{ formsArrayKey }}">
            <thead>
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Project</th>
                    <th scope="col">Task</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                    <th scope="col">Sunday</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>

            {% for formArray in formsArray %}

                {% set form = formArray['form'].createView() %}

                {% form_theme form 'KronosUserReportingBundle:Form:form_div_layout.html.twig' %}

                <tr{{ cycle(['', " class=even"], loop.index0) }}>
                    <td>
                        <a href="{{ path('kronos_delete_line_datas', {'lineId': form.vars.value.getId(), 'inWeek': info.inWeek, 'inYear': info.inYear}) }}" class="removeDatas">Remove</a>
                    </td>

                    {{ form_widget(form) }}

                    <td class="numerical-positive">
                        {{ formArray['lineTotal'] }}
                    </td>

                </tr>

            {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"><strong>Total&nbsp;:</strong></td>
                        <td class="numerical-positive left">{{ daysTotal[formsArrayKey]['Mon'] }}</td>
                        <td class="numerical-positive left">{{ daysTotal[formsArrayKey]['Tue'] }}</td>
                        <td class="numerical-positive left">{{ daysTotal[formsArrayKey]['Wed'] }}</td>
                        <td class="numerical-positive left">{{ daysTotal[formsArrayKey]['Thu'] }}</td>
                        <td class="numerical-positive left">{{ daysTotal[formsArrayKey]['Fri'] }}</td>
                        <td class="numerical-positive left">{{ daysTotal[formsArrayKey]['Sat'] }}</td>
                        <td class="numerical-positive left">{{ daysTotal[formsArrayKey]['Sun'] }}</td>
                        <td class="numerical-positive">{{ daysTotal[formsArrayKey]['total'] }}</td>
                    </tr>
                </tfoot>
            </table>
            <!-- /Tables ֠Classing data -->

    {% endfor %}
            
    {% if forms|length > 0 %}
                
    <p>
            <button type="submit" id="kronos_form_line_save" name="kronos_form_line_save" class="button-classic">Submit</button>
    </p>
    
    {% endif %}

    </form>

{% endblock %}


{#
{% extends 'KronosUserReportingBundle::bootstrap_layout.html.twig' %}

{% block title %}User Time Report Index{% endblock %}

{% block body %}

    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

<form name="kronos_form_line_save" method="post" action="{{ url }}" class="form-inline" role="form">
        {% for lastArray in forms %}
            {% for form in lastArray %}
                {% set form = form.createView() %}
                {% form_theme form 'KronosUserReportingBundle:Form:fields.html.twig' %}
                {{ form_widget(form) }}
            {% endfor %}
        {% endfor %}
    <button type="submit" id="kronos_form_line_save" name="kronos_form_line_save" class="btn btn-primary">Save</button>
</form>

{% endblock %}
#}